# Eat Safe, Love

## Notebook Set Up

In [73]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [74]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [75]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [76]:
# review the collections in our database
# Get the list of collection names in the database
collection_names = db.list_collection_names()

# Print the collection names
for collection_name in collection_names:
    print(collection_name)

establishments

In [77]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [78]:


# Define the query to find establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

# Find the establishments with a hygiene score of 20
results = collection.find(query)

# Count the number of documents in the result
num_documents = collection.count_documents(query)
print("Number of establishments with a hygiene score of 20:", num_documents)

# Check if there are documents in the result
if num_documents > 0:
    # Display the first document in the results
    first_document = next(results)
    pprint(first_document)

    # Convert the results to a DataFrame
    df = pd.DataFrame(results)

    # Print the number of rows in the DataFrame
    print("Number of rows in the DataFrame:", len(df))

    # Display the first 10 rows
    print("First 10 rows of the DataFrame:")
    print(df.head(10))
else:
    print("No establishments found with a hygiene score of 20.")

Number of establishments with a hygiene score of 20: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64ac489b4851275aaa062536'),
 'geocode': {'latitude': '50.769705', 'longitude': '0.27694'},
 'latitude': None,
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'longitude': None,
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}
Number of rows in the DataFrame: 40
First 10 rows of the DataFrame:
                        _id   FHRSID  ChangesByServerID  \
0  64ac489b4851275aaa0628b7   612039                  0
1  64ac489b4851275aaa062bc1   730933                  0
2  64ac489b4851275aaa062daf   172735                  0
3  64ac489b4851275aaa062dbe   172953                  0
4  64ac489c4851275aaa06375d   512854                  0
5  64ac489c4851275aaa06397e  1537089                  0
6  64ac489e4851275aaa064ea9   155648                  0
7  64ac489e4851275aaa0652ed  1012883                  0
8  64ac489e4851275aaa065aff   644109                  0
9  64ac489e4851275aaa065b6f   267034                  0

  LocalAuthorityBusinessID               BusinessName  \
0                1970/FOOD                 Brenalwood
1                1698/FOOD              Melrose Hotel
2             PI/000023858              Seaford Pizza
3             PI/000024532              Golden Palace
4            12/00816/BUTH           Ashby's Butchers
5          22/00224/RESTUN  South Sea Express Cuisine
6              EH/00006058              Golden Palace
7         17/00110/MIXED/S             The Tulip Tree
8                    41811                      F & S
9           11/00102/MIXED                  Longhouse

                        BusinessType  BusinessTypeID           AddressLine1  \
0                    Caring Premises               5              Hall Lane
1  Hotel/bed & breakfast/guest house            7842  53 Marine Parade East
2             Takeaway/sandwich shop            7844          4 High Street
3            Restaurant/Cafe/Canteen               1         5 South Street
4                  Retailers - other            4613   777 Southchurch Road
5            Restaurant/Cafe/Canteen               1    33 Alexandra Street
6             Takeaway/sandwich shop            7844          7 London Road
7            Restaurant/Cafe/Canteen               1          3 The Village
8                  Retailers - other            4613
9            Restaurant/Cafe/Canteen               1         17 London Road

         AddressLine2 AddressLine3  ...  \
0  Walton-on-the-Naze        Essex  ...
1      Clacton On Sea        Essex  ...
2             Seaford  East Sussex  ...
3             Seaford  East Sussex  ...
4     Southend-On-Sea        Essex  ...
5     Southend-on-sea        Essex  ...
6            Rayleigh        Essex  ...
7       Chiddingstone         KENT  ...
8      81 Southernhay     Basildon  ...
9           Riverhead         KENT  ...

                                              scores SchemeType  \
0  {'Hygiene': 20, 'Structural': 15, 'ConfidenceI...       FHRS
1  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
2  {'Hygiene': 20, 'Structural': 10, 'ConfidenceI...       FHRS
3  {'Hygiene': 20, 'Structural': 10, 'ConfidenceI...       FHRS
4  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
5  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
6  {'Hygiene': 20, 'Structural': 15, 'ConfidenceI...       FHRS
7  {'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...       FHRS
8  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
9  {'Hygiene': 20, 'Structural': 25, 'ConfidenceI...       FHRS

                                             geocode RightToReply  \
0  {'longitude': '1.278721', 'latitude': '51.8575...
1  {'longitude': '1.15927', 'latitude': '51.789429'}
2  {'longitude': '0.10202', 'latitude': '50.770885'}
3  {'longitude': '0.101446', 'latitude': '50.7707...
4  {'longitude': '0.736349', 'latitude': '51.5414...
5  {'longitude': '0.7121671', 'latitude': '51.535...
6  {'longitude': '0.602364', 'latitude': '51.5915...
7  {'longitude': '0.146449998021126', 'latitude':...
8  {'longitude': '0.462307', 'latitude': '51.57005'}
9  {'longitude': '0.169685', 'latitude': '51.2847...

      Distance NewRatingPending  \
0  4617.965824            False
1  4619.656144            False
2  4620.421725            False
3  4620.437179            False
4  4625.565258            False
5  4626.200132            False
6  4632.276890            False
7  4633.934041            False
8  4636.552523            False
9  4636.703065            False

                                                meta  \
0  {'dataSource': None, 'extractDate': '0001-01-0...
1  {'dataSource': None, 'extractDate': '0001-01-0...
2  {'dataSource': None, 'extractDate': '0001-01-0...
3  {'dataSource': None, 'extractDate': '0001-01-0...
4  {'dataSource': None, 'extractDate': '0001-01-0...
5  {'dataSource': None, 'extractDate': '0001-01-0...
6  {'dataSource': None, 'extractDate': '0001-01-0...
7  {'dataSource': None, 'extractDate': '0001-01-0...
8  {'dataSource': None, 'extractDate': '0001-01-0...
9  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links longitude latitude
0  [{'rel': 'self', 'href': 'https://api.ratings....      None     None
1  [{'rel': 'self', 'href': 'https://api.ratings....      None     None
2  [{'rel': 'self', 'href': 'https://api.ratings....      None     None
3  [{'rel': 'self', 'href': 'https://api.ratings....      None     None
4  [{'rel': 'self', 'href': 'https://api.ratings....      None     None
5  [{'rel': 'self', 'href': 'https://api.ratings....      None     None
6  [{'rel': 'self', 'href': 'http://api.ratings.f...      None     None
7  [{'rel': 'self', 'href': 'http://api.ratings.f...      None     None
8  [{'rel': 'self', 'href': 'http://api.ratings.f...      None     None
9  [{'rel': 'self', 'href': 'http://api.ratings.f...      None     None

[10 rows x 30 columns]

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [80]:

import pandas as pd

# Query to filter establishments in City of London Corporation with RatingValue >= 4
query = {
    
    "RatingValue": {"$gte": 4},
    "LocalAuthorityName": "City of London Corporation"
}

# Find the establishments matching the query
results = collection.find(query)

# Count the number of documents in the result
num_establishments = collection.count_documents(query)
print("Number of establishments in City of London Corporation with RatingValue >= 4:", num_establishments)

# Display the first document in the results using pprint
if num_establishments > 0:
    first_document = next(results)
    pprint(first_document)

# Convert the results to a DataFrame
df = pd.DataFrame(results)

# Print the number of rows in the DataFrame
num_rows = len(df)
print("Number of rows in the DataFrame:", num_rows)

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of establishments in City of London Corporation with RatingValue >= 4: 0
Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = 
sort =  

# Print the results

In [ ]:
# Convert result to Pandas DataFrame

In [87]:

from pymongo import MongoClient, GEOSPHERE

# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017")
database = client["uk_food"]
collection = database["establishments"]

# Query documents with missing or invalid geocode values
query = {
    "$or": [
        {"geocode.longitude": {"$type": "string"}},
        {"geocode.latitude": {"$type": "string"}}
    ]
}
results = collection.find(query)

# Update documents with correct geocode values
for result in results:
    longitude = result["geocode"]["longitude"]
    latitude = result["geocode"]["latitude"]
    result["geocode"]["longitude"] = float(longitude)
    result["geocode"]["latitude"] = float(latitude)
    collection.replace_one({"_id": result["_id"]}, result)

# Create a geospatial index on the geocode field
collection.create_index([("geocode", GEOSPHERE)])

'geocode_2dsphere'

In [88]:
# Set the latitude and longitude of Penang Flavours
latitude = 51.490142
longitude = 0.083840

# Define the degree search range
degree_search = 0.01

# Create the query
query = {
    "RatingValue": 5,
    "geocode": {
        "$nearSphere": {
            "$geometry": {
                "type": "Point",
                "coordinates": [longitude, latitude]
            },
            "$maxDistance": degree_search / 111.12  # Convert search range to meters
        }
    }
}

# Sort the results by hygiene score in ascending order
sort = [("scores.Hygiene", 1)]

# Execute the query
results = collection.find(query).sort(sort).limit(5)

# Print the results
for result in results:
    pprint(result)

# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

In [90]:
from pymongo import MongoClient
import pandas as pd

# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017")
database = client["uk_food"]
collection = database["establishments"]

# Create the pipeline
pipeline = [
    {"$match": {"scores.Hygiene": 0}},
    {"$group": {"_id": "$LocalAuthorityName", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}}
]

# Execute the pipeline
result = list(collection.aggregate(pipeline))

# Count the number of documents in the result
count = len(result)

print(f"Total establishments with a hygiene score of 0: {count}")

# Print the first 10 results
for doc in result[:10]:
    print(f"Local Authority: {doc['_id']}, Count: {doc['count']}")

# Convert the result to a Pandas DataFrame
df = pd.DataFrame(result)

# Display the number of rows in the DataFrame
print(f"Number of rows in DataFrame: {len(df)}")

# Display the first 10 rows of the DataFrame
print(df.head(10))

Total establishments with a hygiene score of 0: 55
Local Authority: Thanet, Count: 1130
Local Authority: Greenwich, Count: 882
Local Authority: Maidstone, Count: 713
Local Authority: Newham, Count: 711
Local Authority: Swale, Count: 686
Local Authority: Chelmsford, Count: 680
Local Authority: Medway, Count: 672
Local Authority: Bexley, Count: 607
Local Authority: Southend-On-Sea, Count: 586
Local Authority: Tendring, Count: 542
Number of rows in DataFrame: 55
               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542